.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
    animation: fall linear infinite;
    z-index: 0;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(var(--fall-distance, 100vh));
    }
}